<div class="home">
<p class="text">Login As</p>
    <form action="/teacher/login" method="get" >
        <input type="submit" value="Teacher" class="log"/>
    </form>
    
    <form action="/student/login" method="get" >
        <input type="submit" value="Student" class="log"/>
     </form>
</div>