<a href="/" class="btn btn-info AB" >Logout</a>
<div class="home">

    <form action="/teacher/add" method="get" >
        <input type="submit" value="Add Student" class="optionDiv"/>
    </form>

    <form action="/teacher/viewall" method="get" >
        <input type="submit" value="View Students" class="optionDiv"/>
    </form>
 
</div>