<a href="/" class="btn btn-info AB">Back</a>
<div class="teachLog">
  <h3>Student Login</h3>
  
  <% if (typeof error !== 'undefined') { %>
    <p class="not-found-content"><%= error %></p>
  <% } %>
  <form method="POST" class="teachForm">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Roll no : </label>
      <input type="number" name="roll" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Date of Birth : </label>
      <input type="date" name="dob" class="form-control" id="exampleInputPassword1">
    </div>
    <a><button type="submit" class="btn btn-primary AB">Submit</button></a>
  </form>
</div>
